{env.DOMAIN} {
	root * /srv/www
	file_server
}

rpc.{env.DOMAIN} {
	reverse_proxy localhost:26657
}

grafana.{env.DOMAIN} {
	reverse_proxy localhost:3000
}

gnockpit.{env.DOMAIN} {
	reverse_proxy localhost:8080
}
